.text-align-left {
  text-align: left;
}

.text-align-center {
  text-align: center;
}

.text-align-right {
  text-align: right;
}

.position-relative {
  position: relative;
}

.dipslay-hidden {
  display: none;
}

.display-block {
  display: block;
}

.h-full {
  height: 100%;
}

.w-full {
  width: 100%;
}
